t/test-conf/metadata-icms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	name="iCMS"
	targetNamespace="urn:nzl:govt:ict:stds:authn:deployment:igovt:gls:iCMS:1_0"
	xmlns:iCMS="urn:nzl:govt:ict:stds:authn:deployment:igovt:gls:iCMS:1_0"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsap="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:tc="http://schemas.sun.com/ws/2006/05/trust/server"
	xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
	xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
    <wsp:Policy wsu:Id="iCMS_Port_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:AsymmetricBinding>
          <wsp:Policy>
            <sp:InitiatorToken>
              <wsp:Policy>
                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                  <wsp:Policy>
                    <sp:WssX509V3Token10 />
                    <sp:RequireThumbprintReference />
                  </wsp:Policy>
                </sp:X509Token>
              </wsp:Policy>
            </sp:InitiatorToken>
            <sp:RecipientToken>
              <wsp:Policy>
                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                  <wsp:Policy>
                    <sp:WssX509V3Token10 />
                    <sp:RequireThumbprintReference />
                  </wsp:Policy>
                </sp:X509Token>
              </wsp:Policy>
            </sp:RecipientToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:OnlySignEntireHeadersAndBody />
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128Sha256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
          </wsp:Policy>
        </sp:AsymmetricBinding>
        <sp:Wss11>
          <wsp:Policy>
            <sp:MustSupportRefThumbprint />
          </wsp:Policy>
        </sp:Wss11>
        <wsap:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
    <wsp:Policy wsu:Id="iCMS_Message_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SignedParts>
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:nzl:govt:ict:stds:authn:deployment:igovt:gls:iCMS:1_0">
			<xsd:import namespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512" schemaLocation="http://docs.oasis-open.org/ws-sx/ws-trust/200512/ws-trust-1.3.xsd" />
			<xsd:element name="ICMSFault">
				<xsd:complexType />
			</xsd:element>
			<xsd:element name="AllowCreateFLT">
				<xsd:complexType />
			</xsd:element>
			<xsd:element name="Consent">
				<xsd:simpleType>
					<xsd:restriction base="xsd:anyURI">
						<xsd:enumeration value="urn:oasis:names:tc:SAML:2.0:consent:current-explicit" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TokenSubType">
				<xsd:simpleType>
					<xsd:restriction base="xsd:anyURI">
						<xsd:enumeration value="urn:nzl:govt:ict:stds:authn:deployment:igovt:gls:iCMS:1_0:SAMLV2.0:Authenticated" />
						<xsd:enumeration value="urn:nzl:govt:ict:stds:authn:deployment:igovt:gls:iCMS:1_0:SAMLV2.0:Delayed" />
						<xsd:enumeration value="urn:nzl:govt:ict:stds:authn:deployment:igovt:gls:iCMS:1_0:SAMLV2.0:Seamless" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IssueTokenRequest">
		<wsdl:part element="wst:RequestSecurityToken" name="parameters" />
	</wsdl:message>
	<wsdl:message name="IssueTokenResponse">
		<wsdl:part element="wst:RequestSecurityTokenResponseCollection" name="parameters" />
	</wsdl:message>
	<wsdl:message name="ValidateTokenRequest">
		<wsdl:part element="wst:RequestSecurityToken" name="parameters" />
	</wsdl:message>
	<wsdl:message name="ValidateTokenResponse">
		<wsdl:part element="wst:RequestSecurityTokenResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="ICMSFault">
		<wsdl:part element="iCMS:ICMSFault" name="ICMSFault"/>
	</wsdl:message>
	<wsdl:portType name="Issue">
		<wsdl:operation name="IssueToken">
			<wsdl:input message="iCMS:IssueTokenRequest" wsam:Action="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" />
			<wsdl:output message="iCMS:IssueTokenResponse" wsam:Action="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RSTRC/IssueFinal" />
			<wsdl:fault name="ICMSFault" message="iCMS:ICMSFault" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="Validate">
		<wsdl:operation name="ValidateToken">
			<wsdl:input message="iCMS:ValidateTokenRequest" wsam:Action="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Validate" />
			<wsdl:output message="iCMS:ValidateTokenResponse" wsam:Action="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RSTRC/ValidateFinal" />
			<wsdl:fault name="ICMSFault" message="iCMS:ICMSFault" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Issue" type="iCMS:Issue">
		<wsp:PolicyReference URI="#iCMS_Port_Policy" />
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="IssueToken">
			<soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" />
			<wsdl:input>
				<wsp:PolicyReference URI="#iCMS_Message_Policy" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsp:PolicyReference URI="#iCMS_Message_Policy" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ICMSFault">
				<soap:fault name="ICMSFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="Validate" type="iCMS:Validate">
		<wsp:PolicyReference URI="#iCMS_Port_Policy" />
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ValidateToken">
			<soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Validate" />
			<wsdl:input>
				<wsp:PolicyReference URI="#iCMS_Message_Policy" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsp:PolicyReference URI="#iCMS_Message_Policy" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ICMSFault">
				<soap:fault name="ICMSFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="igovtContextMappingService">
		<wsdl:port binding="iCMS:Issue" name="Issue">
			<soap:address location="https://ws.ite.logon.realme.govt.nz/icms/Issue" />
		</wsdl:port>
		<wsdl:port binding="iCMS:Validate" name="Validate">
			<soap:address location="https://ws.ite.logon.realme.govt.nz/icms/Validate" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

